<h1>Nuevo Destinatario</h1>
<br>
<!--
    Rut           -     Nombre
    Correo        -     Telefono
    Banco         -     Tipo de cuenta
    N° de cuenta
    [Enviar]
-->
<form class="row g-3" [formGroup] = "formRecipient" (ngSubmit) = "onCreate(formRecipient.value)">

  <!-- **** Input de RUT **** -->
  <div class="col-md-6">
    <label class="form-label" for="Rut"> Rut: </label>
    <input type="text" class="form-control" id = "rut" formControlName="rut" placeholder="11.111.111-1">
  </div>
  <!-- **** Input de Nombre **** -->
  <div class="col-md-6">
    <label class="form-label" for="Nombre"> Nombre: </label>
    <input class="form-control" type="text" id = "name" formControlName="name" placeholder="Steve Jobs">
  </div>

  <!-- **** Input de mail **** -->
  <div class="col-md-6">
    <label class="form-label" for="Correo"> Correo: </label>
    <input class="form-control" type="text" id = "mail" formControlName="mail" placeholder="ejemplo@test.cl">
  </div>
  <!-- **** Input de teléfono **** -->
  <div class="col-md-6">
    <label class="form-label" for="Teléfono"> Teléfono: </label>
    <input class="form-control" type="text" id = "phone" formControlName="phone" placeholder="+56911111111">
  </div>

  <!-- **** Input de Banco **** -->
  <div class="col-md-6">
    <label class="form-label" for="Banco">Banco: </label>
    <select class="form-select" name = "bank" formControlName="bank" >
      <option > --Select -- </option>
      <option *ngFor="let bank of bankList">
        {{bank.name}}
      </option>
    </select>
  </div>
  <!-- **** Input tipo de cuenta **** -->
  <div class="col-md-6">
    <label class="form-label" for="Tipo de Cuenta"> Tipo de Cuenta: </label>
    <select class="form-select" name = "accType" formControlName="accType" >
      <option > --Select -- </option>
      <option> Cta. Vista </option>
      <option> Cta. Corriente </option>
      <option> Cta. de Ahorro </option>
    </select>
  </div>

  <!-- **** Input n° de cuenta **** -->
  <label class="form-label" for="N° de Cuenta"> N° de Cuenta: </label>
  <input class="form-control" type="number" id = "accNumber" formControlName="accNumber" placeholder="11111111">
  <br>

  <!-- **** BUTTON **** -->
  <button class= "btn btn-primary" onclick=""> Enviar</button>

</form>

<div>
  Valido: {{ formRecipient.valid | json }}
</div>
<br>
