<h1>Nuevo Destinatario</h1>
<br>
<!--
    Rut           -     Nombre
    Correo        -     Telefono
    Banco         -     Tipo de cuenta
    N° de cuenta
    [Enviar]
-->
<form *ngIf="viewForm" class="row g-3" [formGroup] = "formRecipient" (ngSubmit) = "onCreate(formRecipient.value)">

  <!-- **** Input de RUT **** -->
  <div class="col-md-6">
    <label class="form-label" for="Rut"> Rut: </label>
    <input type="text" class="form-control" id = "rut" formControlName="rut" placeholder="11.111.111-1">
  </div>
  <!-- **** Input de Nombre **** -->
  <div class="col-md-6">
    <label class="form-label" for="Nombre"> Nombre: </label>
    <input class="form-control" type="text" id = "name" formControlName="name" placeholder="Steve Jobs">
  </div>

  <!-- **** Input de mail **** -->
  <div class="col-md-6">
    <label class="form-label" for="Correo"> Correo: </label>
    <input class="form-control" type="text" id = "mail" formControlName="mail" placeholder="ejemplo@test.cl">
  </div>
  <!-- **** Input de teléfono **** -->
  <div class="col-md-6">
    <label class="form-label" for="Teléfono"> Teléfono: </label>
    <input class="form-control" type="text" id = "phone" formControlName="phone" placeholder="+56911111111">
  </div>

  <!-- **** Input de Banco **** -->
  <div class="col-md-6">
    <label class="form-label" for="Banco">Banco: </label>
    <select class="form-select" name = "bank" formControlName="bank" >
      <option > --Select -- </option>
      <option *ngFor="let bank of bankList">
        {{bank.name}}
      </option>
    </select>
  </div>
  <!-- **** Input tipo de cuenta **** -->
  <div class="col-md-6">
    <label class="form-label" for="Tipo de Cuenta"> Tipo de Cuenta: </label>
    <select class="form-select" name = "accType" formControlName="accType" >
      <option > --Select -- </option>
      <option> Cta. Vista </option>
      <option> Cta. Corriente </option>
      <option> Cta. de Ahorro </option>
    </select>
  </div>

  <!-- **** Input n° de cuenta **** -->
  <label class="form-label" for="N° de Cuenta"> N° de Cuenta: </label>
  <input class="form-control" type="number" id = "accNumber" formControlName="accNumber" placeholder="11111111">
  <br>

  <!-- **** BUTTON **** -->
  <button class= "btn btn-primary" [disabled]="!formRecipient.valid" onclick=""> Enviar</button>

</form>

<div *ngIf="viewError">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <p>Error al agregar nuevo destinatario:</p>
    </div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let err of errList" class="list-group-item">
        {{ err }}
      </li>
    </ul>
    <div class="card-footer">
      <button class= "btn btn-primary" onclick="" (click)="enableForm()"> Volver a intentar </button>
    </div>
  </div>
  <!--Valido: {{ formRecipient.valid | json }} -->
</div>

<div *ngIf="viewOK">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5 class="card-title">¡Destinatario creado exitosamente!</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Nombre: {{ dataList.name }}</p>
      <p class="card-text">Correo: {{ dataList.mail }}</p>
      <p class="card-text">Banco: {{ dataList.bank }}</p>
      <p class="card-text">Tipo de Cuenta: {{ dataList.accType }}</p>
    </div>
    <div class="card-footer">
      <button class= "btn btn-primary" onclick="" (click)="enableForm()"> Volver a intentar </button>
    </div>
  </div>
  <!--Valido: {{ formRecipient.valid | json }} -->
</div>
<br>
